.sci-label {
    color: white;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: initial;
}

.sci-parent:hover > .sci-hover-label {
    display: unset;
}

.sci-hover-label {
    display: none;
    position: absolute;
}